.projects-directory {
  margin-top: 5rem;
  grid-column: center-start / center-end;
  @media only screen and (max-width: 800px) {
    grid-column: 1 / -1;
    column-gap: 4rem;
  }
  h2 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  &__container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 3rem;
  }
}
