body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 800px) {
    font-size: 50%;
  }
  @media only screen and (max-width: 400px) {
    font-size: 35%;
  }
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #6760ed;
  --secondary-color: #16d44d;
  --tertiary-color: #8bf26f;
  --main-bg-color: #020304ce;

  --white-color: #fff;
  --light-gray-text: #e0e0e0;
  --medium-gray-text: #9e9e9e;
  --dark-gray-text: #616161;
}

.container__contact {
  display: flex;
  min-height: 87.5vh;
  justify-content: center;
  grid-column: contact-start / full-start;

  @media only screen and (max-width: 800px) {
    display: none;
  }
  align-items: flex-end;
}

.container__contact--primary-color {
  background-color: rgba(234, 233, 253, 0.404);
}
